<h1>Editing Book</h1>
<%= form_with model:@book, local: true do |f| %>
<h4>Title</h4>
<p><%= f.text_field :title %></p>
<h4>Body</h4>
<P><%= f.text_area :body %></P>
<%= f.submit'Update Book' %>
<% end %>