<p id="notice">Book was successfully created.</p>
<P><styong>Title:</styong><%= @book.title %></P>
<p><styong>Body:</styong><%= @book.body %></p>
<a><%= link_to "Edit", edit_book_path(@book) %> | <%= link_to "Back", "/books" %></a>